{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block headcontent %}
<script>
  var liftAmount = 1;
  var addLift = function() {
  liftAmount += 1;
  document.getElementById("liftsinput").innerHTML = document.getElementById("liftsinput").innerHTML + "<strong>Lift " + liftAmount + ":</strong> <input class='form-control' type='text' name='lift'" + liftAmount + "'></input><br><strong>Amount:</strong> <input class='form-control' type='text' name='amount" + liftAmount + "'></input><br><br>";
  };
</script>
{% endblock headcontent %}

{% block bodycontent %}
<h1>Dashboard</h1>
<form method="POST" action="/enter">
  <strong>Enter another workout here:</strong>
  <div id="liftsinput">
  <br>
  <strong>Lift 1:</strong> <input class="form-control" type="text" name="lift1"></input>
  <br>
  <strong>Amount:</strong> <input class="form-control" type="text" name="amount1"></input>
  <br>
  <br>
  </div>
  <button class="btn btn-success btn-lg" type="button" onclick="addLift();">Add Lift</button>
  <br>
  <br>
  <input class="btn btn-info btn-lg" type="submit"></submit>
</form>
<br>
<form method="POST" action="/macros">

  <strong>Input food for:</strong> <input class="form-control" type="date" name="date"> <br><br>
  <input class="form-control" type="text" name="food"></input>
  <br> 
  <input class="btn btn-warning btn-lg" type="submit"></submit>
</form>
<br>
{% for lift in gains %}
<a href="/graphs/{{lift}}">View {{lift}} History</a>
<br>
{% endfor %}
<a href="/graphs/food">View Daily Food Information</a>
{% endblock bodycontent %}
