{% extends "base.html" %}

{% block title %}
Index
{% endblock title %}

{% block bodycontent %}
<h1>Welcome to Something-Lifts!</h1>

{% if 'user' not in session %}

<a href="{{ url_for('login') }}">
	<button type="button" class="btn btn-primary btn-lg">Login</button>
</a>
<a href="{{ url_for('register') }}">
	<button type="button" class="btn btn-success btn-lg">Register</button>
</a>

{% else %}

<strong> Hmm, it already looks like you're already logged in!</strong>
Maybe you want to go to the <a href="{{ url_for('dashboard') }}">dashboard</a>?

{% endif %}


{% endblock bodycontent %}
