{% extends "base.html" %}

{% block bodycontent %}
<h2> Register </h2>
<form action="/register" method="post">
    <div>
      <label for="user">Username</label>
      <input class="form-control" id="user" name="user" type="text" placeholder="Username">
    </div>
    <br>
    <div>
      <label for="pwd">Password</label>
      <input class="form-control" id="pwd" name="pwd" type="password" placeholder="Password">
    </div>
    <br>
    <button class="btn btn-success btn-lg" type="submit">Register</button>
</form>
{% endblock bodycontent %}
