{% extends "base.html" %}

<!--
Temporary stylesheet before move to external.
-->

<style>
</style>

<!--
Note: move data.js to static folder later after testing is over.
-->
<script src="data.js"></script>

<!--
This script should be moved to its own script file later and embedded when it's done.
-->

<!-- div used for displayed content to the user.
Later can be bootstrap-ified for sexiness.
-->
<div id="main" class="main">
		<div id="question" class="question">
		<!-- Write question and/or standalone response here -->
		</div>

		<div id="answer_field" class="field">
		<!-- Add answer divs here. -->
		</div>
</div>


<script>
// Import a JSON file that contains question and answer nests
// in a dictionary-esque format.
// This is done by importing data.js above. 

// Necessary info should be contained within the var data.


</script>